<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading" style="color:#083357;">Why Blinky-Lite?</h2>
                <hr class="light">
                <p >Blinky-Lite<sup>TM</sup> was developed at the MaxIV Synchrotron Light Source and the European Spallation Source both located in Lund, Sweden. In this world of complex and costly particle accelerators, <span style="color:#083357;">a strong 24/7 maintenance mindset is a must.</span> It is essential to always understand the state of a machine remotely and to be able to securely troubleshoot it efficiently from anywhere in the world at any time.</p>
                <p  style="color:#083357;font-size:200%;">That’s why we developed Blinky-Lite<sup>TM</sup></p>
                <a href="#services" class="btn btn-default btn-xl">Features</a>
            </div>
        </div>
    </div>
</section>
