<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">More Info</h2>
                <hr class="primary">
                <p>Checkout</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://blinky-lite.github.io/">
                <i class="fa fa-book fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Blinky-Lite Docs</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.bl-mc.se/">
            <i class="fa fa-users fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>BL-MC</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
