<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Blinky-Lite-jykell branch</h1>
            <hr>
            <p>Blinky-Lite<sup>TM</sup> is a full-stack, integrated hardware-software control platform based on Edge computing technology designed by hardware engineers that can perform at any scale from home automation to particle accelerators.</p>
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">App Preview</a>
        </div>
    </div>
</header>
